body{
    background-color: #EAF6F6;
}

img{
    height: 200px;
}

hr{
    border: none;
    border-top-style: dotted;
    border-width: 5px;
    color: gray;
    width: 5%;
}

h1,h3{
    color: #66bfbf;
}